@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  color: #ffffff;
  /* padding-inline: 6rem; */
  padding-inline: 8rem;
}

.titles {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.descriptions {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.accent-color {
  color: #00ffff;
}

.answer-button-color {
  color: #d20094 - #900080;
}

/* HEADER  */

header {
  /* padding-top: 2.5rem; */
  padding-top: 3rem;
  /* padding-bottom: rem; */
  padding-bottom: 3rem;
}

header img {
  /* width: 10rem; */
  width: 11rem;
}

/* MAIN */

main {
  text-align: center;
  /* margin-block: 4rem; */
  margin-top: 4rem;
  padding-inline: 5rem;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  /* font-size: 50px; */
  font-size: 60px;
  line-height: 3.5rem;
  /* padding-bottom: 1rem; */
  padding-bottom: 2rem;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-size: 25px; */
  font-size: 30px;
  /* padding-inline: 6rem; */
  /* padding-inline: 6.5rem; */
  line-height: 2rem;
  color: #d8d9db;
}

.rating-star {
  /* padding-top: 2rem; */
  padding-top: 3rem;
  /* padding-bottom: 4rem; */
  padding-bottom: 6rem;
}

.stars i {
  cursor: pointer;
  color: #070a22;
  transition: color 0.2s ease;
  /* font-size: 2.8rem; */
  font-size: 3.3rem;
}

i:hover,
i:has(~ i:hover) {
  color: #00ffff;
}

.stars i.active {
  filter: brightness(0) saturate(100%) invert(89%) sepia(91%) saturate(2598%) hue-rotate(103deg) brightness(105%) contrast(102%);
}

.comment {
  margin-top: 3rem;
  /* margin-bottom: 3.5rem; */
  /* margin-inline: 4.5rem; */
  text-align: left;
  border-bottom: 3px solid #d20094;
}

.comment input {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  /* font-size: 18px; */
  font-size: 19px;
  /* line-height: 2rem; */
  line-height: 2.5rem;
  color: #d8d9db;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  width: 100%;
  /* padding-left: 2rem; */
  padding-left: 2.2rem;
  border-style: none;
}

.comment input:focus {
  outline: none;
}

.thankYouBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  color: white;
  border-radius: 12px;
}

/* FOOTER */

footer {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 14.5px;
  /* padding-bottom: 6.5rem; */
  padding-top: 2rem;
  text-align: center;
}

a {
  display: inline-block;
  /* padding-block: 1rem; */
  padding-block: 1.5rem;
  /* padding-inline: 3.5rem; */
  padding-inline: 4rem;
  /* font-size: 20px; */
  font-size: 25px;
  font-weight: 700;
  background-color: #00ffff;
  border: #00ffff;
  box-shadow: 0px 0px 30px 0px #00ffff;
  color: #0b113b;
  text-decoration: none;
}

.alert {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 19px;
  padding-top: 1rem;
}

.error {
  visibility: hidden;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 19px;
  padding-top: 1rem;
  text-align: center;
}

.thanks {
  padding-block: 14rem;
}
