.timer {
  position: relative;
  width: 100px;
  height: 100px;
  transform: scale(1.5); /* ingrandisce tutto 1.5 volte */
  transform-origin: center center;
}

.progress-ring {
  /* nessuna rotazione: parte da destra verso il basso in senso orario */
}

.progress-ring__circle-bg,
.progress-ring__circle {
  fill: transparent;
  stroke-width: 8;
  stroke-linecap: round;
}

.progress-ring__circle-bg {
  stroke: aqua;
}

.progress-ring__circle {
  stroke: white;
  transition: stroke-dashoffset 0.1s linear;
}

.timer-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 255, 255);
}
